body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
p.one {
  border-style: solid;
  border-color: red;
}

p.two {
  border-style: solid;
  border-color: green;
}

p.three {
  border-style: solid;
  border-color: red green blue yellow;
}
